@model IList<BirdsSweden300.web.ViewModel.Birds.BirdListViewModel>
@{
    var url = Url.Action("ToggleSeenBirds", "birds");
    var check = ;
    
}
<section class="page">
    <h1 class="page-title">Sveriges arter</h1>

    <div class="gallery-wrapper">
        <div class="gallery-card">
            <input type="checkbox" id="hideSeen">
            <label for="hideSeenChecked">Dölj sedda fåglar</label>
            <select name="Sort" onchange="this.form.submit()">
                <option value="1">Artnamn A-Ö</option>
                <option value="2">Artnamn Ö-A</option>
                <option value="3">Ingen sortering</option>
            </select>
        </div>

    </div>

    <div class="gallery-wrapper">
        @foreach (var bird in Model.Where(m => m.Seen == ))
        {
            <div class="gallery-card">
                <div>@bird.Name</div>
                <img src="@bird.ImageUrl" alt="@bird.Name">
                <div><span>@bird.Name</span></div>
                <div class="buttons-container">
                    <a class="btn btn-dark" asp-action="details" , asp-controller="birds" , asp-route-id="@bird.Id">Se
                        mer</a>
                    <a class="btn btn-dark" asp-action="Edit" , asp-controller="birds" ,
                    asp-route-id="@bird.Id">Redigera</a>
                    <a class="btn btn-warning" asp-action="MarkAsSeen" , asp-controller="birds" ,
                    asp-route-id="@bird.Id">Sedd</a>

                </div>
            </div>
        }
    </div>
</section>

<script>
    var checkbox = document.getElementById("hideSeen");
    function isChecked() {
        var checkbox = document.querySelector('hideSeen').checked;
    }

</script>